body {
  font-family: "Comic Sans MS";
  font-size: 14px;
}

.header {
  background: url(../images/such.io.svg) 0 0 no-repeat;
  height: 200px;
  padding-left: 200px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

input.ng-dirty.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}

.user-orders {
  font-size: 10pt;

  tr:nth-child(even) {
    background: #eee;
  }
  .order-filled {
    color: #0c0;
  }
  .order-cancelled {
    color: #ccc;
  }
}
