<div class="login-form" ng-show="!loggedIn">
  <form name="loginForm" ng-hide="showSignup || loading" ng-submit="login()">
    <input type="email" name="email" ng-model="user.email" placeholder="email" required />
    <input type="password" name="password" ng-model="user.password" placeholder="password" required />
    <button>login</button>
    <a ng-click="showSignup = true" href="#">sign up</a>
  </form>
  <form name="signupForm" ng-hide="!showSignup || loading" ng-submit="signup()">
    <input type="email" name="email" ng-model="user.email" placeholder="email" required />
    <input type="password" name="password" ng-model="user.password" placeholder="password" required />
    <button>signup</button>
    <a ng-click="showSignup = false" href="#">login</a>
  </form>
  <span class="loading" ng-show="loading">Loading...</span>
  <span class="error" ng-show="error">{{ error }}</span>
</div>
<div class="user-info" ng-show="loggedIn">
  Logged in as {{ user.email }} | <a ng-click="logout()" href="#">logout</a>
</div>
