<div class="order-form">
  <h2>{{ order.action }} {{ market.market }}</h2>
  <form ng-submit="order.place()">
    <div>
      Quantity: <input type="text" pattern="(?=^\d*(\.\d*)?$)(?=.*[1-9]).*" ng-model="order.quantity" ng-keydown="increment($event)" required />
      <select ng-model="order.market" ng-change="updateQuantity()">
        <option>{{ market.market }}</option>
        <option>{{ market.base }}</option>
      </select>
    </div>
    <div>
      Price: <input type="text" pattern="(?=^\d*(\.\d*)?$)(?=.*[1-9]).*" ng-model="order.price" required ng-keydown="increment($event)" /> ({{ market.base }})
    </div>
    <div ng-show="order.market === market.market">
      Required: <input value="{{ order.quantity * order.price | cryptoCurrency }}" readonly tabindex="-1" /> ({{ market.base }})
    </div>
    <div ng-show="order.market === market.base">
      Expected: <input value="{{ order.quantity / order.price | cryptoCurrency }}" readonly tabindex="-1" /> ({{ market.market }})
    </div>

    <button>Place Order</button>
  </form>
</div>
