<div class="user-orders">
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Market</th>
          <th>Status</th>
          <th>Partial Order</th>
          <th>Requested Amount</th>
          <th>Requested Rate</th>
          <th>Filled Amount</th>
          <th>Filled Rate</th>
          <th>Exchange Fee</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="order in orders">
          <td>{{order.time|date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{order.market.market_currency.symbol}}/{{order.market.base_currency.symbol}}</td>
          <td>{{order.status}}</td>
          <td>{{order.is_partial|boolean:'yes':'no'}}</td>
          <td>{{order.amount | cryptoCurrency }}</td>
          <td>{{order.rate | cryptoCurrency }}</td>
          <td>{{order.filled_amount | cryptoCurrency }}</td>
          <td>{{order.filled_rate | cryptoCurrency }}</td>
          <td>{{order.tx_fee | cryptoCurrency }}</td>
        </tr>
      </tbody>
    </table>
</div>